@tailwind base;
@tailwind components;
@tailwind utilities;

td,
th {
  padding: 10px;
  margin: 10px;
}

textarea {
  resize: none;
  height: 100px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
